%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% coding: utf-8

%% the Erlang node name of tested ejabberd/MongooseIM
{ejabberd_node, 'mongooseim@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.
{ejabberd_addr, <<"127.0.0.1">>}.
{ejabberd_metrics_rest_port, 5288}.
{ejabberd_string_format, bin}.

{hosts, [{xpiryens,  [{node, mongooseim@localhost},
                      {domain, <<"localhost">>},
                      {vars, "xpiryens_vars.config"},
                      {cluster, mim}]}]}.

%% Use RPC and ejabberd_auth API for creating/deleting test users
{escalus_user_db, {module, escalus_ejabberd}}.
{escalus_xmpp_server, escalus_mongooseim}.

%% Use modules that implement the escalus_user_db behaviour:
%% {escalus_user_db, {module, escalus_ejabberd}}. % RPC-based registration
%% {escalus_user_db, {module, YourModule}}.
%% {escalus_user_db, {module, YourModule, ListOfOptions}}.

%% Log all stanzas sent and received (consumed) in the test cases
%% {stanza_log, true}.

{escalus_users, [
                 {alice, [
                          {username, <<"alicE">>},
                          {server, <<"localhost">>},
                          {password, <<"matygrysa">>}]},
                 {bob, [
                        {username, <<"bOb">>},
                        {server, <<"localhost">>},
                        {password, <<"makrolika">>}]},
                 {bob_altpass, [
                                {username, <<"bOb">>},
                                {server, <<"localhost">>},
                                {password, <<"niemakrolika">>}]},
                 {carol, [
                          {username, <<"carol">>},
                          {server, <<"localhost">>},
                          {password, <<"jinglebells">>},
                          {transport, bosh},
                          {path, <<"/http-bind">>},
                          {port, 5280}]},
                 {carol_s, [
                            {username, <<"carol_s">>},
                            {server, <<"localhost">>},
                            {password, <<"jinglebells_s">>},
                            {transport, bosh},
                            {ssl, true},
                            {path, <<"/http-bind">>},
                            {port, 5285}]},
                 {kate, [
                         {username, <<"kate">>},
                         {server, <<"localhost">>},
                         {password, <<"makrowe;p">>}]},
                 %%{port, 5280},
                 %%{transport, bosh}]},
                 {mike, [
                         {username, <<"mike">>},
                         {server, <<"localhost">>},
                         {password, <<"nicniema">>}]},
                 {geralt, [
                           {username, <<"geralt">>},
                           {server, <<"localhost">>},
                           {password, <<"witcher">>},
                           {transport, ws},
                           {port, 5280},
                           {wspath, <<"/ws-xmpp">>}]},
                 {geralt_s, [
                             {username, <<"geralt_s">>},
                             {server, <<"localhost">>},
                             {password, <<"witcher_s">>},
                             {transport, ws},
                             {ssl, true},
                             {port, 5285},
                             {wspath, <<"/ws-xmpp">>}]},
                 {hacker, [
                           {username, <<"hacker">>},
                           {server, <<"localhost">>},
                           {password, <<"bringdowntheserver">>},
                           {compression, <<"zlib">>},
                           {port, 5223}]},
                 {oldie, [
                          {username, <<"oldie">>},
                          {server, <<"localhost">>},
                          {password, <<"legacy">>},
                          {transport, ws},
                          {port, 5280},
                          {wspath, <<"/ws-xmpp">>},
                          {wslegacy, true}
                         ]},
                 {admin, [
                          {username, <<"admin">>},
                          {server, <<"localhost">>},
                          {password, <<"bruce_almighty">>}]},
                 {secure_joe, [
                               {username, <<"secure_joe">>},
                               {server, <<"localhost">>},
                               {password, <<"break_me">>},
                               {compression, <<"zlib">>},
                               {starttls, required}]},
                 {astrid, [
                           {username, <<"astrid">>},
                           {server, <<"sogndal">>},
                           {host, <<"localhost">>},
                           {password, <<"doctor">>}]},
                 {alice2, [
                           {username, <<"alice">>},
                           {server, <<"fed1">>},
                           {host, <<"localhost">>},
                           {port, 5242},
                           {password, <<"makota2">>}]},
                 {bob2, [
                         {username, <<"bob">>},
                         {server, <<109,105,99,104,97,197,130>>}, %% <<"michał"/utf8>>
                         {host, <<"localhost">>},
                         {port, 5242},
                         {password, <<"makota3">>}]},
                 {clusterguy, [
                               {username, <<"clusterguy">>},
                               {server, <<"localhost">>},
                               {host, <<"localhost">>},
                               {password, <<"distributionftw">>},
                               {port, 5232}]}
                ]}.

{escalus_anon_users, [
                      {jon, [
                             {username, <<"jon">>},
                             {server, <<"anonymous.localhost">>},
                             {host, <<"localhost">>},
                             {auth_method, <<"SASL-ANON">>}]}
                     ]}.

{ejabberd_nodes, [internal_mnesia]}.

{ejabberd_presets, [
                    {internal_mnesia,
                     [{sm_backend, "{mnesia, []}"},
                      {auth_method, "internal"}]}
                   ]}.


%% vim: ft=erlang
